=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class ActionDryRunApiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Preview actions
    # Evaluate a governed proposal for the approved account and preview each policy decision and execution diff without creating a batch or action.
    # @param workspace [Integer] The workspace ID
    # @param actions_api_dry_run_request [ActionsApiDryRunRequest]
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def actions_api_dry_run(workspace, actions_api_dry_run_request, opts = {})
      data, _status_code, _headers = actions_api_dry_run_with_http_info(workspace, actions_api_dry_run_request, opts)
      data
    end

    # Preview actions
    # Evaluate a governed proposal for the approved account and preview each policy decision and execution diff without creating a batch or action.
    # @param workspace [Integer] The workspace ID
    # @param actions_api_dry_run_request [ActionsApiDryRunRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def actions_api_dry_run_with_http_info(workspace, actions_api_dry_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionDryRunApiApi.actions_api_dry_run ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling ActionDryRunApiApi.actions_api_dry_run"
      end
      # verify the required parameter 'actions_api_dry_run_request' is set
      if @api_client.config.client_side_validation && actions_api_dry_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'actions_api_dry_run_request' when calling ActionDryRunApiApi.actions_api_dry_run"
      end
      # resource path
      local_var_path = '/agent/workspaces/{workspace}/actions/dry-run'.sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_api_dry_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['workspaceActionKey']

      new_options = opts.merge(
        :operation => :"ActionDryRunApiApi.actions_api_dry_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionDryRunApiApi#actions_api_dry_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
