=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class AdTestApiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Tests and observed conversion event choices
    # Lists scoped Tests, their loser pause candidate status and reasons, and observed conversion event choices with last-30-day recorded counts.
    # @param workspace [Integer] The workspace ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page
    # @option opts [Integer] :per_page
    # @return [AdTestListRead]
    def actions_tests_api_index(workspace, opts = {})
      data, _status_code, _headers = actions_tests_api_index_with_http_info(workspace, opts)
      data
    end

    # List Tests and observed conversion event choices
    # Lists scoped Tests, their loser pause candidate status and reasons, and observed conversion event choices with last-30-day recorded counts.
    # @param workspace [Integer] The workspace ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page
    # @option opts [Integer] :per_page
    # @return [Array<(AdTestListRead, Integer, Hash)>] AdTestListRead data, response status code and response headers
    def actions_tests_api_index_with_http_info(workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdTestApiApi.actions_tests_api_index ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling AdTestApiApi.actions_tests_api_index"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AdTestApiApi.actions_tests_api_index, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AdTestApiApi.actions_tests_api_index, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AdTestApiApi.actions_tests_api_index, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/agent/workspaces/{workspace}/tests'.sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdTestListRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['testReader']

      new_options = opts.merge(
        :operation => :"AdTestApiApi.actions_tests_api_index",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdTestApiApi#actions_tests_api_index\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a Test, verdict, and pause candidates
    # Reads a scoped Test, its stored daily facts and verdict, and loser pause candidate status and reason; recorded counts rank members only within this Test.
    # @param workspace [Integer] The workspace ID
    # @param ad_test [String]
    # @param [Hash] opts the optional parameters
    # @return [AdTestShowRead]
    def actions_tests_api_show(workspace, ad_test, opts = {})
      data, _status_code, _headers = actions_tests_api_show_with_http_info(workspace, ad_test, opts)
      data
    end

    # Read a Test, verdict, and pause candidates
    # Reads a scoped Test, its stored daily facts and verdict, and loser pause candidate status and reason; recorded counts rank members only within this Test.
    # @param workspace [Integer] The workspace ID
    # @param ad_test [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdTestShowRead, Integer, Hash)>] AdTestShowRead data, response status code and response headers
    def actions_tests_api_show_with_http_info(workspace, ad_test, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdTestApiApi.actions_tests_api_show ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling AdTestApiApi.actions_tests_api_show"
      end
      # verify the required parameter 'ad_test' is set
      if @api_client.config.client_side_validation && ad_test.nil?
        fail ArgumentError, "Missing the required parameter 'ad_test' when calling AdTestApiApi.actions_tests_api_show"
      end
      if @api_client.config.client_side_validation && ad_test.to_s.length > 26
        fail ArgumentError, 'invalid value for "ad_test" when calling AdTestApiApi.actions_tests_api_show, the character length must be smaller than or equal to 26.'
      end

      if @api_client.config.client_side_validation && ad_test.to_s.length < 26
        fail ArgumentError, 'invalid value for "ad_test" when calling AdTestApiApi.actions_tests_api_show, the character length must be greater than or equal to 26.'
      end

      pattern = Regexp.new(/^[0-7][0-9a-hjkmnp-tv-z]{25}$/)
      if @api_client.config.client_side_validation && ad_test !~ pattern
        fail ArgumentError, "invalid value for 'ad_test' when calling AdTestApiApi.actions_tests_api_show, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/agent/workspaces/{workspace}/tests/{ad_test}'.sub('{workspace}', CGI.escape(workspace.to_s)).sub('{ad_test}', CGI.escape(ad_test.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdTestShowRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['testReader']

      new_options = opts.merge(
        :operation => :"AdTestApiApi.actions_tests_api_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdTestApiApi#actions_tests_api_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a judging Test
    # Creates a judging Test with frozen event, settings, axis, and 2 to 4 ads from one mirrored ad set; it creates no proposal or Meta write.
    # @param workspace [Integer] The workspace ID
    # @param actions_tests_api_store_request [ActionsTestsApiStoreRequest] A Test using ads present in the selected mirrored Meta ad set.
    # @param [Hash] opts the optional parameters
    # @return [AdTestCreateRead]
    def actions_tests_api_store(workspace, actions_tests_api_store_request, opts = {})
      data, _status_code, _headers = actions_tests_api_store_with_http_info(workspace, actions_tests_api_store_request, opts)
      data
    end

    # Create a judging Test
    # Creates a judging Test with frozen event, settings, axis, and 2 to 4 ads from one mirrored ad set; it creates no proposal or Meta write.
    # @param workspace [Integer] The workspace ID
    # @param actions_tests_api_store_request [ActionsTestsApiStoreRequest] A Test using ads present in the selected mirrored Meta ad set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdTestCreateRead, Integer, Hash)>] AdTestCreateRead data, response status code and response headers
    def actions_tests_api_store_with_http_info(workspace, actions_tests_api_store_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdTestApiApi.actions_tests_api_store ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling AdTestApiApi.actions_tests_api_store"
      end
      # verify the required parameter 'actions_tests_api_store_request' is set
      if @api_client.config.client_side_validation && actions_tests_api_store_request.nil?
        fail ArgumentError, "Missing the required parameter 'actions_tests_api_store_request' when calling AdTestApiApi.actions_tests_api_store"
      end
      # resource path
      local_var_path = '/agent/workspaces/{workspace}/tests'.sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_tests_api_store_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdTestCreateRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['testWriter']

      new_options = opts.merge(
        :operation => :"AdTestApiApi.actions_tests_api_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdTestApiApi#actions_tests_api_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
