=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class CookieDeclarationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read the public cookie declaration
    # Public on every plan. Returns latest completed scan metadata, never values. Invalid keys return 404 before the 300/minute per-key limiter.
    # @param publishable_key [String] Workspace publishable key from the customer page source; pk_live_ followed by 32 alphanumeric characters.
    # @param [Hash] opts the optional parameters
    # @return [CookieDeclaration]
    def get_cookie_declaration(publishable_key, opts = {})
      data, _status_code, _headers = get_cookie_declaration_with_http_info(publishable_key, opts)
      data
    end

    # Read the public cookie declaration
    # Public on every plan. Returns latest completed scan metadata, never values. Invalid keys return 404 before the 300/minute per-key limiter.
    # @param publishable_key [String] Workspace publishable key from the customer page source; pk_live_ followed by 32 alphanumeric characters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CookieDeclaration, Integer, Hash)>] CookieDeclaration data, response status code and response headers
    def get_cookie_declaration_with_http_info(publishable_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CookieDeclarationApi.get_cookie_declaration ...'
      end
      # verify the required parameter 'publishable_key' is set
      if @api_client.config.client_side_validation && publishable_key.nil?
        fail ArgumentError, "Missing the required parameter 'publishable_key' when calling CookieDeclarationApi.get_cookie_declaration"
      end
      pattern = Regexp.new(/^pk_live_[A-Za-z0-9]{32}$/)
      if @api_client.config.client_side_validation && publishable_key !~ pattern
        fail ArgumentError, "invalid value for 'publishable_key' when calling CookieDeclarationApi.get_cookie_declaration, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/cookie-declarations/{publishableKey}'.sub('{publishableKey}', CGI.escape(publishable_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CookieDeclaration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CookieDeclarationApi.get_cookie_declaration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CookieDeclarationApi#get_cookie_declaration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
