=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class CreativeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload a creative
    # Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.
    # @param workspace [Integer] The workspace ID
    # @param file [File] JPEG, PNG, MP4 or QuickTime bytes, at most 4 GiB.
    # @param [Hash] opts the optional parameters
    # @option opts [StoreCreativeRequestTags] :tags
    # @option opts [String] :source_ref
    # @return [CreativeIntakeRead]
    def store_creative(workspace, file, opts = {})
      data, _status_code, _headers = store_creative_with_http_info(workspace, file, opts)
      data
    end

    # Upload a creative
    # Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.
    # @param workspace [Integer] The workspace ID
    # @param file [File] JPEG, PNG, MP4 or QuickTime bytes, at most 4 GiB.
    # @param [Hash] opts the optional parameters
    # @option opts [StoreCreativeRequestTags] :tags
    # @option opts [String] :source_ref
    # @return [Array<(CreativeIntakeRead, Integer, Hash)>] CreativeIntakeRead data, response status code and response headers
    def store_creative_with_http_info(workspace, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.store_creative ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CreativeApi.store_creative"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling CreativeApi.store_creative"
      end
      if @api_client.config.client_side_validation && !opts[:'source_ref'].nil? && opts[:'source_ref'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"source_ref"]" when calling CreativeApi.store_creative, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/workspaces/{workspace}/admin/creatives'.sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      form_params['source_ref'] = opts[:'source_ref'] if !opts[:'source_ref'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeIntakeRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['creativeWriter']

      new_options = opts.merge(
        :operation => :"CreativeApi.store_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#store_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Store a creative from a URL
    # Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.
    # @param workspace [Integer] The workspace ID
    # @param store_creative_from_url_request [StoreCreativeFromUrlRequest]
    # @param [Hash] opts the optional parameters
    # @return [CreativeIntakeRead]
    def store_creative_from_url(workspace, store_creative_from_url_request, opts = {})
      data, _status_code, _headers = store_creative_from_url_with_http_info(workspace, store_creative_from_url_request, opts)
      data
    end

    # Store a creative from a URL
    # Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.
    # @param workspace [Integer] The workspace ID
    # @param store_creative_from_url_request [StoreCreativeFromUrlRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeIntakeRead, Integer, Hash)>] CreativeIntakeRead data, response status code and response headers
    def store_creative_from_url_with_http_info(workspace, store_creative_from_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.store_creative_from_url ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CreativeApi.store_creative_from_url"
      end
      # verify the required parameter 'store_creative_from_url_request' is set
      if @api_client.config.client_side_validation && store_creative_from_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'store_creative_from_url_request' when calling CreativeApi.store_creative_from_url"
      end
      # resource path
      local_var_path = '/workspaces/{workspace}/admin/creatives/from-url'.sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(store_creative_from_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeIntakeRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['creativeWriter']

      new_options = opts.merge(
        :operation => :"CreativeApi.store_creative_from_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#store_creative_from_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
