=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class DeploymentPlanApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Copy a failed plan to a new draft
    # Copy failed plan content and stored integer budgets into a fresh draft. History stays unchanged; validate budgets and submit again with a new intent.
    # @param workspace [Integer] The workspace ID
    # @param deployment_plan [String]
    # @param [Hash] opts the optional parameters
    # @return [PlanCopyRead]
    def launch_plans_copy(workspace, deployment_plan, opts = {})
      data, _status_code, _headers = launch_plans_copy_with_http_info(workspace, deployment_plan, opts)
      data
    end

    # Copy a failed plan to a new draft
    # Copy failed plan content and stored integer budgets into a fresh draft. History stays unchanged; validate budgets and submit again with a new intent.
    # @param workspace [Integer] The workspace ID
    # @param deployment_plan [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanCopyRead, Integer, Hash)>] PlanCopyRead data, response status code and response headers
    def launch_plans_copy_with_http_info(workspace, deployment_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeploymentPlanApi.launch_plans_copy ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DeploymentPlanApi.launch_plans_copy"
      end
      # verify the required parameter 'deployment_plan' is set
      if @api_client.config.client_side_validation && deployment_plan.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_plan' when calling DeploymentPlanApi.launch_plans_copy"
      end
      # resource path
      local_var_path = '/workspaces/{workspace}/admin/plans/{deployment_plan}/copy'.sub('{workspace}', CGI.escape(workspace.to_s)).sub('{deployment_plan}', CGI.escape(deployment_plan.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanCopyRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['planWriter']

      new_options = opts.merge(
        :operation => :"DeploymentPlanApi.launch_plans_copy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeploymentPlanApi#launch_plans_copy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
