=begin
#PlainRouter Conversion API

#PlainRouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class EventApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Submit a conversion event
    # Accepts a consent-aware server-side conversion event. Supply either event_id in the JSON body or Idempotency-Key in the request headers to make retries idempotent.
    # @param create_event_request [CreateEventRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional idempotency key. When event_id is omitted, PlainRouter uses this value as event_id. If both are supplied, they must match.
    # @return [CreateEvent200Response]
    def create_event(create_event_request, opts = {})
      data, _status_code, _headers = create_event_with_http_info(create_event_request, opts)
      data
    end

    # Submit a conversion event
    # Accepts a consent-aware server-side conversion event. Supply either event_id in the JSON body or Idempotency-Key in the request headers to make retries idempotent.
    # @param create_event_request [CreateEventRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional idempotency key. When event_id is omitted, PlainRouter uses this value as event_id. If both are supplied, they must match.
    # @return [Array<(CreateEvent200Response, Integer, Hash)>] CreateEvent200Response data, response status code and response headers
    def create_event_with_http_info(create_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.create_event ...'
      end
      # verify the required parameter 'create_event_request' is set
      if @api_client.config.client_side_validation && create_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_event_request' when calling EventApi.create_event"
      end
      # resource path
      local_var_path = '/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"EventApi.create_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#create_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an event and delivery trace
    # Returns one retained customer-readable event with lineage and destination delivery state.
    # @param event [String]
    # @param [Hash] opts the optional parameters
    # @return [GetEvent200Response]
    def get_event(event, opts = {})
      data, _status_code, _headers = get_event_with_http_info(event, opts)
      data
    end

    # Get an event and delivery trace
    # Returns one retained customer-readable event with lineage and destination delivery state.
    # @param event [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEvent200Response, Integer, Hash)>] GetEvent200Response data, response status code and response headers
    def get_event_with_http_info(event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.get_event ...'
      end
      # verify the required parameter 'event' is set
      if @api_client.config.client_side_validation && event.nil?
        fail ArgumentError, "Missing the required parameter 'event' when calling EventApi.get_event"
      end
      # resource path
      local_var_path = '/events/{event}'.sub('{event}', CGI.escape(event.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"EventApi.get_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#get_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify server-side Signal ingestion
    # Writes one identity-free verification event for onboarding and returns the existing event on retry.
    # @param [Hash] opts the optional parameters
    # @return [CreateEvent200Response]
    def verify_signal_ingestion(opts = {})
      data, _status_code, _headers = verify_signal_ingestion_with_http_info(opts)
      data
    end

    # Verify server-side Signal ingestion
    # Writes one identity-free verification event for onboarding and returns the existing event on retry.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEvent200Response, Integer, Hash)>] CreateEvent200Response data, response status code and response headers
    def verify_signal_ingestion_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.verify_signal_ingestion ...'
      end
      # resource path
      local_var_path = '/verification-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"EventApi.verify_signal_ingestion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#verify_signal_ingestion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
