=begin
#Plainrouter Conversion API

#Plainrouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class MetaInventoryExposureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compare Meta metrics with counted arrivals
    # Compare daily Meta metrics with PlainRouter arrivals in the account timezone, within plan retention. Unknown object IDs are never exposed.
    # @param workspace [Integer] The workspace ID
    # @param account_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date
    # @option opts [Date] :end_date
    # @option opts [String] :campaign_id
    # @option opts [String] :adset_id
    # @option opts [String] :ad_id
    # @option opts [Boolean] :include_changes
    # @return [GetInventoryMetrics200Response]
    def get_inventory_metrics(workspace, account_id, opts = {})
      data, _status_code, _headers = get_inventory_metrics_with_http_info(workspace, account_id, opts)
      data
    end

    # Compare Meta metrics with counted arrivals
    # Compare daily Meta metrics with PlainRouter arrivals in the account timezone, within plan retention. Unknown object IDs are never exposed.
    # @param workspace [Integer] The workspace ID
    # @param account_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date
    # @option opts [Date] :end_date
    # @option opts [String] :campaign_id
    # @option opts [String] :adset_id
    # @option opts [String] :ad_id
    # @option opts [Boolean] :include_changes
    # @return [Array<(GetInventoryMetrics200Response, Integer, Hash)>] GetInventoryMetrics200Response data, response status code and response headers
    def get_inventory_metrics_with_http_info(workspace, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetaInventoryExposureApi.get_inventory_metrics ...'
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling MetaInventoryExposureApi.get_inventory_metrics"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MetaInventoryExposureApi.get_inventory_metrics"
      end
      if @api_client.config.client_side_validation && !opts[:'campaign_id'].nil? && opts[:'campaign_id'].to_s.length > 128
        fail ArgumentError, 'invalid value for "opts[:"campaign_id"]" when calling MetaInventoryExposureApi.get_inventory_metrics, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && !opts[:'adset_id'].nil? && opts[:'adset_id'].to_s.length > 128
        fail ArgumentError, 'invalid value for "opts[:"adset_id"]" when calling MetaInventoryExposureApi.get_inventory_metrics, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_id'].nil? && opts[:'ad_id'].to_s.length > 128
        fail ArgumentError, 'invalid value for "opts[:"ad_id"]" when calling MetaInventoryExposureApi.get_inventory_metrics, the character length must be smaller than or equal to 128.'
      end

      # resource path
      local_var_path = '/workspaces/{workspace}/admin/ad-accounts/{account_id}/inventory/metrics'.sub('{workspace}', CGI.escape(workspace.to_s)).sub('{account_id}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'campaign_id'] = opts[:'campaign_id'] if !opts[:'campaign_id'].nil?
      query_params[:'adset_id'] = opts[:'adset_id'] if !opts[:'adset_id'].nil?
      query_params[:'ad_id'] = opts[:'ad_id'] if !opts[:'ad_id'].nil?
      query_params[:'include_changes'] = opts[:'include_changes'] if !opts[:'include_changes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventoryMetrics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['workspaceInventoryKey']

      new_options = opts.merge(
        :operation => :"MetaInventoryExposureApi.get_inventory_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetaInventoryExposureApi#get_inventory_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
