=begin
#PlainRouter Conversion API

#PlainRouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class OperationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete user data by hashed identifier
    # Idempotently removes retained user data matching one caller-supplied SHA-256 identifier digest.
    # @param delete_user_data_request [DeleteUserDataRequest]
    # @param [Hash] opts the optional parameters
    # @return [DeleteUserData200Response]
    def delete_user_data(delete_user_data_request, opts = {})
      data, _status_code, _headers = delete_user_data_with_http_info(delete_user_data_request, opts)
      data
    end

    # Delete user data by hashed identifier
    # Idempotently removes retained user data matching one caller-supplied SHA-256 identifier digest.
    # @param delete_user_data_request [DeleteUserDataRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteUserData200Response, Integer, Hash)>] DeleteUserData200Response data, response status code and response headers
    def delete_user_data_with_http_info(delete_user_data_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.delete_user_data ...'
      end
      # verify the required parameter 'delete_user_data_request' is set
      if @api_client.config.client_side_validation && delete_user_data_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_user_data_request' when calling OperationsApi.delete_user_data"
      end
      # resource path
      local_var_path = '/user-data'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_user_data_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteUserData200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.delete_user_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#delete_user_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Event Match Quality history
    # Returns recent Meta Event Match Quality snapshots for the authenticated Signal tracker.
    # @param [Hash] opts the optional parameters
    # @return [GetEmqReport200Response]
    def get_emq_report(opts = {})
      data, _status_code, _headers = get_emq_report_with_http_info(opts)
      data
    end

    # Get Event Match Quality history
    # Returns recent Meta Event Match Quality snapshots for the authenticated Signal tracker.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEmqReport200Response, Integer, Hash)>] GetEmqReport200Response data, response status code and response headers
    def get_emq_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_emq_report ...'
      end
      # resource path
      local_var_path = '/reports/emq'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmqReport200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_emq_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_emq_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a reconciliation report
    # Returns stored delivery-versus-platform reconciliation results for one calendar date.
    # @param date [Date]
    # @param [Hash] opts the optional parameters
    # @return [GetReconciliationReport200Response]
    def get_reconciliation_report(date, opts = {})
      data, _status_code, _headers = get_reconciliation_report_with_http_info(date, opts)
      data
    end

    # Get a reconciliation report
    # Returns stored delivery-versus-platform reconciliation results for one calendar date.
    # @param date [Date]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetReconciliationReport200Response, Integer, Hash)>] GetReconciliationReport200Response data, response status code and response headers
    def get_reconciliation_report_with_http_info(date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_reconciliation_report ...'
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling OperationsApi.get_reconciliation_report"
      end
      # resource path
      local_var_path = '/reports/reconciliation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetReconciliationReport200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_reconciliation_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_reconciliation_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recent events
    # Returns retained customer-readable events and aggregate destination-delivery acceptance metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page Events per page, capped at 100. (default to 25)
    # @return [ListEvents200Response]
    def list_events(opts = {})
      data, _status_code, _headers = list_events_with_http_info(opts)
      data
    end

    # List recent events
    # Returns retained customer-readable events and aggregate destination-delivery acceptance metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page Events per page, capped at 100. (default to 25)
    # @return [Array<(ListEvents200Response, Integer, Hash)>] ListEvents200Response data, response status code and response headers
    def list_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_events ...'
      end
      # resource path
      local_var_path = '/dashboard/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recent events by cursor
    # Returns retained customer-readable events using stable cursor pagination and aggregate destination-delivery acceptance metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page Events per cursor page, capped at 100. (default to 25)
    # @option opts [String] :cursor Opaque cursor returned by a previous response. Omit it on the first request.
    # @return [ListEventsByCursor200Response]
    def list_events_by_cursor(opts = {})
      data, _status_code, _headers = list_events_by_cursor_with_http_info(opts)
      data
    end

    # List recent events by cursor
    # Returns retained customer-readable events using stable cursor pagination and aggregate destination-delivery acceptance metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page Events per cursor page, capped at 100. (default to 25)
    # @option opts [String] :cursor Opaque cursor returned by a previous response. Omit it on the first request.
    # @return [Array<(ListEventsByCursor200Response, Integer, Hash)>] ListEventsByCursor200Response data, response status code and response headers
    def list_events_by_cursor_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_events_by_cursor ...'
      end
      # resource path
      local_var_path = '/dashboard/events/cursor'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEventsByCursor200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_events_by_cursor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_events_by_cursor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replay eligible deliveries
    # Evaluates retained failed deliveries and queues the eligible subset for another delivery attempt.
    # @param [Hash] opts the optional parameters
    # @option opts [ReplayDeliveriesRequest] :replay_deliveries_request
    # @return [ReplayDeliveries202Response]
    def replay_deliveries(opts = {})
      data, _status_code, _headers = replay_deliveries_with_http_info(opts)
      data
    end

    # Replay eligible deliveries
    # Evaluates retained failed deliveries and queues the eligible subset for another delivery attempt.
    # @param [Hash] opts the optional parameters
    # @option opts [ReplayDeliveriesRequest] :replay_deliveries_request
    # @return [Array<(ReplayDeliveries202Response, Integer, Hash)>] ReplayDeliveries202Response data, response status code and response headers
    def replay_deliveries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.replay_deliveries ...'
      end
      # resource path
      local_var_path = '/deliveries/replay'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'replay_deliveries_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ReplayDeliveries202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.replay_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#replay_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a controlled test purchase
    # Creates an identity-free synthetic purchase and sends it only to the selected destination while test mode is enabled.
    # @param destination [String] The destination ID
    # @param [Hash] opts the optional parameters
    # @option opts [SendTestPurchaseRequest] :send_test_purchase_request
    # @return [SendTestPurchase200Response]
    def send_test_purchase(destination, opts = {})
      data, _status_code, _headers = send_test_purchase_with_http_info(destination, opts)
      data
    end

    # Send a controlled test purchase
    # Creates an identity-free synthetic purchase and sends it only to the selected destination while test mode is enabled.
    # @param destination [String] The destination ID
    # @param [Hash] opts the optional parameters
    # @option opts [SendTestPurchaseRequest] :send_test_purchase_request
    # @return [Array<(SendTestPurchase200Response, Integer, Hash)>] SendTestPurchase200Response data, response status code and response headers
    def send_test_purchase_with_http_info(destination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.send_test_purchase ...'
      end
      # verify the required parameter 'destination' is set
      if @api_client.config.client_side_validation && destination.nil?
        fail ArgumentError, "Missing the required parameter 'destination' when calling OperationsApi.send_test_purchase"
      end
      # resource path
      local_var_path = '/destinations/{destination}/test-purchase'.sub('{destination}', CGI.escape(destination.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'send_test_purchase_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SendTestPurchase200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.send_test_purchase",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#send_test_purchase\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure destination test mode
    # Enables or disables Meta Test Events mode for a destination owned by the authenticated Signal tracker.
    # @param destination [String] The destination ID
    # @param set_destination_test_mode_request [SetDestinationTestModeRequest]
    # @param [Hash] opts the optional parameters
    # @return [SetDestinationTestMode200Response]
    def set_destination_test_mode(destination, set_destination_test_mode_request, opts = {})
      data, _status_code, _headers = set_destination_test_mode_with_http_info(destination, set_destination_test_mode_request, opts)
      data
    end

    # Configure destination test mode
    # Enables or disables Meta Test Events mode for a destination owned by the authenticated Signal tracker.
    # @param destination [String] The destination ID
    # @param set_destination_test_mode_request [SetDestinationTestModeRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetDestinationTestMode200Response, Integer, Hash)>] SetDestinationTestMode200Response data, response status code and response headers
    def set_destination_test_mode_with_http_info(destination, set_destination_test_mode_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.set_destination_test_mode ...'
      end
      # verify the required parameter 'destination' is set
      if @api_client.config.client_side_validation && destination.nil?
        fail ArgumentError, "Missing the required parameter 'destination' when calling OperationsApi.set_destination_test_mode"
      end
      # verify the required parameter 'set_destination_test_mode_request' is set
      if @api_client.config.client_side_validation && set_destination_test_mode_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_destination_test_mode_request' when calling OperationsApi.set_destination_test_mode"
      end
      # resource path
      local_var_path = '/destinations/{destination}/test-mode'.sub('{destination}', CGI.escape(destination.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_destination_test_mode_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetDestinationTestMode200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['signalTrackerSecret']

      new_options = opts.merge(
        :operation => :"OperationsApi.set_destination_test_mode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#set_destination_test_mode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
