=begin
#PlainRouter Conversion API

#PlainRouter public Signals Conversion API.

The version of the OpenAPI document: 0.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module PlainRouter::OpenAPI
  class SandboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a sandbox API key
    # Issues a short-lived sandbox-only bearer key without an account, human approval, or production access.
    # @param [Hash] opts the optional parameters
    # @return [CreateSandboxKey201Response]
    def create_sandbox_key(opts = {})
      data, _status_code, _headers = create_sandbox_key_with_http_info(opts)
      data
    end

    # Create a sandbox API key
    # Issues a short-lived sandbox-only bearer key without an account, human approval, or production access.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSandboxKey201Response, Integer, Hash)>] CreateSandboxKey201Response data, response status code and response headers
    def create_sandbox_key_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxApi.create_sandbox_key ...'
      end
      # resource path
      local_var_path = '/sandbox/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSandboxKey201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SandboxApi.create_sandbox_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxApi#create_sandbox_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discover the zero-auth sandbox
    # Returns a ready-to-run synthetic event example. The sandbox requires no account or API key and cannot read production data, persist events, or contact an advertising provider.
    # @param [Hash] opts the optional parameters
    # @return [GetSandbox200Response]
    def get_sandbox(opts = {})
      data, _status_code, _headers = get_sandbox_with_http_info(opts)
      data
    end

    # Discover the zero-auth sandbox
    # Returns a ready-to-run synthetic event example. The sandbox requires no account or API key and cannot read production data, persist events, or contact an advertising provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSandbox200Response, Integer, Hash)>] GetSandbox200Response data, response status code and response headers
    def get_sandbox_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxApi.get_sandbox ...'
      end
      # resource path
      local_var_path = '/sandbox'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSandbox200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SandboxApi.get_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxApi#get_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate a synthetic event
    # Validates and immediately discards one identity-free synthetic event. It requires no account or API key and never writes to the ledger or contacts Meta.
    # @param validate_sandbox_event_request [ValidateSandboxEventRequest]
    # @param [Hash] opts the optional parameters
    # @return [ValidateSandboxEvent200Response]
    def validate_sandbox_event(validate_sandbox_event_request, opts = {})
      data, _status_code, _headers = validate_sandbox_event_with_http_info(validate_sandbox_event_request, opts)
      data
    end

    # Validate a synthetic event
    # Validates and immediately discards one identity-free synthetic event. It requires no account or API key and never writes to the ledger or contacts Meta.
    # @param validate_sandbox_event_request [ValidateSandboxEventRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidateSandboxEvent200Response, Integer, Hash)>] ValidateSandboxEvent200Response data, response status code and response headers
    def validate_sandbox_event_with_http_info(validate_sandbox_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxApi.validate_sandbox_event ...'
      end
      # verify the required parameter 'validate_sandbox_event_request' is set
      if @api_client.config.client_side_validation && validate_sandbox_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_sandbox_event_request' when calling SandboxApi.validate_sandbox_event"
      end
      # resource path
      local_var_path = '/sandbox/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_sandbox_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidateSandboxEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SandboxApi.validate_sandbox_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxApi#validate_sandbox_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate a synthetic event with a sandbox key
    # Validates a synthetic event using the short-lived key returned by the self-serve sandbox key endpoint. It never persists data or contacts an advertising provider.
    # @param validate_sandbox_event_request [ValidateSandboxEventRequest]
    # @param [Hash] opts the optional parameters
    # @return [ValidateSandboxEvent200Response]
    def validate_sandbox_event_with_key(validate_sandbox_event_request, opts = {})
      data, _status_code, _headers = validate_sandbox_event_with_key_with_http_info(validate_sandbox_event_request, opts)
      data
    end

    # Validate a synthetic event with a sandbox key
    # Validates a synthetic event using the short-lived key returned by the self-serve sandbox key endpoint. It never persists data or contacts an advertising provider.
    # @param validate_sandbox_event_request [ValidateSandboxEventRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidateSandboxEvent200Response, Integer, Hash)>] ValidateSandboxEvent200Response data, response status code and response headers
    def validate_sandbox_event_with_key_with_http_info(validate_sandbox_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxApi.validate_sandbox_event_with_key ...'
      end
      # verify the required parameter 'validate_sandbox_event_request' is set
      if @api_client.config.client_side_validation && validate_sandbox_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_sandbox_event_request' when calling SandboxApi.validate_sandbox_event_with_key"
      end
      # resource path
      local_var_path = '/sandbox/keyed-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_sandbox_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidateSandboxEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['sandboxCredential']

      new_options = opts.merge(
        :operation => :"SandboxApi.validate_sandbox_event_with_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxApi#validate_sandbox_event_with_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
