{
    "openapi": "3.1.0",
    "info": {
        "title": "PlainRouter Conversion API",
        "version": "0.5.0",
        "description": "PlainRouter public Signals Conversion API."
    },
    "servers": [
        {
            "url": "https://plainrouter.com/api/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "signalTrackerSecret": []
        }
    ],
    "paths": {
        "/events": {
            "post": {
                "operationId": "createEvent",
                "description": "Accepts a consent-aware server-side conversion event. Supply either event_id in the JSON body or Idempotency-Key in the request headers to make retries idempotent.",
                "summary": "Submit a conversion event",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Optional idempotency key. When event_id is omitted, PlainRouter uses this value as event_id. If both are supplied, they must match.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "event_id": {
                                                "type": "string",
                                                "description": "Caller-supplied idempotency key; maximum 128 characters."
                                            },
                                            "event_name": {
                                                "type": "string",
                                                "description": "Signal event name; maximum 100 characters."
                                            },
                                            "parent_event_id": {
                                                "type": "string",
                                                "description": "Optional parent event id; maximum 128 characters."
                                            },
                                            "event_time": {
                                                "description": "Unix timestamp or ISO-8601 date-time. Defaults to receipt time.",
                                                "anyOf": [
                                                    {
                                                        "type": "integer"
                                                    },
                                                    {
                                                        "type": "string"
                                                    }
                                                ]
                                            },
                                            "event_source": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Optional absolute source URL."
                                            },
                                            "action_source": {
                                                "type": "string",
                                                "description": "Optional action source; defaults to website and is limited to 50 characters."
                                            },
                                            "visitor_id": {
                                                "type": "string",
                                                "description": "Optional visitor identifier; maximum 255 characters."
                                            },
                                            "consent_basis": {
                                                "type": "string",
                                                "description": "Legal basis for processing. Legitimate-interest revenue lifecycle events are rejected; use an authenticated server adapter.",
                                                "const": "consent"
                                            },
                                            "consent": {
                                                "type": "object",
                                                "description": "Consent state supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "consent_mode": {
                                                "type": "object",
                                                "description": "Consent Mode v2 signal values supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "tcf": {
                                                "type": "object",
                                                "description": "TCF v2 data containing string and optional captured_at.",
                                                "additionalProperties": {}
                                            },
                                            "user_data": {
                                                "type": "object",
                                                "description": "Identity fields accepted by the tracker.",
                                                "additionalProperties": {}
                                            },
                                            "click_ids": {
                                                "type": "object",
                                                "description": "Advertising click identifiers.",
                                                "additionalProperties": {}
                                            },
                                            "value_data": {
                                                "type": "object",
                                                "description": "Optional commerce data. Contents accepts at most 50 items and 16 KB serialized.",
                                                "properties": {
                                                    "value": {
                                                        "type": "string"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "order_id": {
                                                        "type": "string"
                                                    },
                                                    "contents": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "num_items": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "event_name",
                                            "consent_basis"
                                        ]
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "event_id": {
                                                "type": "string",
                                                "description": "Caller-supplied idempotency key; maximum 128 characters."
                                            },
                                            "event_name": {
                                                "type": "string",
                                                "description": "Signal event name; maximum 100 characters.",
                                                "enum": [
                                                    "signal_verification",
                                                    "consent_withdrawal"
                                                ]
                                            },
                                            "parent_event_id": {
                                                "type": "string",
                                                "description": "Optional parent event id; maximum 128 characters."
                                            },
                                            "event_time": {
                                                "description": "Unix timestamp or ISO-8601 date-time. Defaults to receipt time.",
                                                "anyOf": [
                                                    {
                                                        "type": "integer"
                                                    },
                                                    {
                                                        "type": "string"
                                                    }
                                                ]
                                            },
                                            "event_source": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Optional absolute source URL."
                                            },
                                            "action_source": {
                                                "type": "string",
                                                "description": "Optional action source; defaults to website and is limited to 50 characters."
                                            },
                                            "visitor_id": {
                                                "type": "string",
                                                "description": "Optional visitor identifier; maximum 255 characters."
                                            },
                                            "consent_basis": {
                                                "type": "string",
                                                "description": "Legal basis for processing. Legitimate-interest revenue lifecycle events are rejected; use an authenticated server adapter.",
                                                "const": "legitimate_interest"
                                            },
                                            "consent": {
                                                "type": "object",
                                                "description": "Consent state supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "consent_mode": {
                                                "type": "object",
                                                "description": "Consent Mode v2 signal values supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "tcf": {
                                                "type": "object",
                                                "description": "TCF v2 data containing string and optional captured_at.",
                                                "additionalProperties": {}
                                            },
                                            "user_data": {
                                                "type": "object",
                                                "description": "Identity fields accepted by the tracker.",
                                                "additionalProperties": {}
                                            },
                                            "click_ids": {
                                                "type": "object",
                                                "description": "Advertising click identifiers.",
                                                "additionalProperties": {}
                                            },
                                            "value_data": {
                                                "type": "object",
                                                "description": "Optional commerce data. Contents accepts at most 50 items and 16 KB serialized.",
                                                "properties": {
                                                    "value": {
                                                        "type": "string"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "order_id": {
                                                        "type": "string"
                                                    },
                                                    "contents": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "num_items": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "event_name",
                                            "consent_basis"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Duplicate event accepted idempotently.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical event resource to poll for delivery state.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            },
                            "Idempotency-Key": {
                                "description": "Echoes the Idempotency-Key supplied by the caller.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "New event accepted for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical event resource to poll for delivery state.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            },
                            "Idempotency-Key": {
                                "description": "Echoes the Idempotency-Key supplied by the caller.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verification-events": {
            "post": {
                "operationId": "verifySignalIngestion",
                "description": "Writes one identity-free verification event for onboarding and returns the existing event on retry.",
                "summary": "Verify server-side Signal ingestion",
                "tags": [
                    "Event"
                ],
                "responses": {
                    "200": {
                        "description": "The idempotent server verification event already exists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical verification-event resource to poll.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Server-side Signal ingestion verified.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical verification-event resource to poll.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event}": {
            "get": {
                "operationId": "getEvent",
                "description": "Returns one retained customer-readable event with lineage and destination delivery state.",
                "summary": "Get an event and delivery trace",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event, lineage, and destination delivery state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "signal_tracker_id": {
                                                    "type": "string"
                                                },
                                                "parent_event_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "event_name": {
                                                    "type": "string"
                                                },
                                                "event_time": {
                                                    "type": "string"
                                                },
                                                "action_source": {
                                                    "type": "string"
                                                },
                                                "event_class": {
                                                    "type": "string"
                                                },
                                                "order_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "value_amount": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "value_currency": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "consent_basis": {
                                                    "type": "string"
                                                },
                                                "measurement_class": {
                                                    "type": "string"
                                                },
                                                "attribution_join": {
                                                    "type": "string"
                                                },
                                                "enforcement_scope": {
                                                    "type": "string"
                                                },
                                                "consent_normalization_version": {
                                                    "type": "string"
                                                },
                                                "consent": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "user_data_hashed": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "click_ids": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "session": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "value_data": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "event_source": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "payload_expired": {
                                                    "type": "boolean"
                                                },
                                                "deliveries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "event_id": {
                                                                "type": "string"
                                                            },
                                                            "destination_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "status": {
                                                                "$ref": "#/components/schemas/DeliveryStatus"
                                                            },
                                                            "is_test": {
                                                                "type": "boolean"
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer"
                                                            },
                                                            "last_error": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_response": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_trace_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "next_attempt_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "event_id",
                                                            "destination_id",
                                                            "status",
                                                            "is_test",
                                                            "attempt_count",
                                                            "last_error",
                                                            "platform_response",
                                                            "platform_trace_id",
                                                            "next_attempt_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "signal_tracker_id",
                                                "parent_event_id",
                                                "event_name",
                                                "event_time",
                                                "action_source",
                                                "event_class",
                                                "order_id",
                                                "value_amount",
                                                "value_currency",
                                                "created_at",
                                                "consent_basis",
                                                "measurement_class",
                                                "attribution_join",
                                                "enforcement_scope",
                                                "consent_normalization_version",
                                                "consent",
                                                "user_data_hashed",
                                                "click_ids",
                                                "session",
                                                "value_data",
                                                "event_source",
                                                "payload_expired",
                                                "deliveries"
                                            ]
                                        },
                                        "lineage": {
                                            "type": "object",
                                            "properties": {
                                                "parent": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "signal_tracker_id": {
                                                            "type": "string"
                                                        },
                                                        "parent_event_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "event_name": {
                                                            "type": "string"
                                                        },
                                                        "event_time": {
                                                            "type": "string"
                                                        },
                                                        "action_source": {
                                                            "type": "string"
                                                        },
                                                        "event_class": {
                                                            "type": "string"
                                                        },
                                                        "order_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_amount": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_currency": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string"
                                                        },
                                                        "consent_basis": {
                                                            "type": "string"
                                                        },
                                                        "measurement_class": {
                                                            "type": "string"
                                                        },
                                                        "attribution_join": {
                                                            "type": "string"
                                                        },
                                                        "enforcement_scope": {
                                                            "type": "string"
                                                        },
                                                        "consent_normalization_version": {
                                                            "type": "string"
                                                        },
                                                        "consent": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "user_data_hashed": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "click_ids": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "session": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "value_data": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "event_source": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "payload_expired": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "signal_tracker_id",
                                                        "parent_event_id",
                                                        "event_name",
                                                        "event_time",
                                                        "action_source",
                                                        "event_class",
                                                        "order_id",
                                                        "value_amount",
                                                        "value_currency",
                                                        "created_at",
                                                        "consent_basis",
                                                        "measurement_class",
                                                        "attribution_join",
                                                        "enforcement_scope",
                                                        "consent_normalization_version",
                                                        "consent",
                                                        "user_data_hashed",
                                                        "click_ids",
                                                        "session",
                                                        "value_data",
                                                        "event_source",
                                                        "payload_expired"
                                                    ]
                                                },
                                                "children": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "parent_event_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "event_name": {
                                                                "type": "string"
                                                            },
                                                            "event_time": {
                                                                "type": "string"
                                                            },
                                                            "action_source": {
                                                                "type": "string"
                                                            },
                                                            "event_class": {
                                                                "type": "string"
                                                            },
                                                            "order_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_amount": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_currency": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "consent_basis": {
                                                                "type": "string"
                                                            },
                                                            "measurement_class": {
                                                                "type": "string"
                                                            },
                                                            "attribution_join": {
                                                                "type": "string"
                                                            },
                                                            "enforcement_scope": {
                                                                "type": "string"
                                                            },
                                                            "consent_normalization_version": {
                                                                "type": "string"
                                                            },
                                                            "consent": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "user_data_hashed": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "click_ids": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "session": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "value_data": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "event_source": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "payload_expired": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "parent_event_id",
                                                            "event_name",
                                                            "event_time",
                                                            "action_source",
                                                            "event_class",
                                                            "order_id",
                                                            "value_amount",
                                                            "value_currency",
                                                            "created_at",
                                                            "consent_basis",
                                                            "measurement_class",
                                                            "attribution_join",
                                                            "enforcement_scope",
                                                            "consent_normalization_version",
                                                            "consent",
                                                            "user_data_hashed",
                                                            "click_ids",
                                                            "session",
                                                            "value_data",
                                                            "event_source",
                                                            "payload_expired"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "parent",
                                                "children"
                                            ]
                                        },
                                        "deliveries": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "event_id": {
                                                                "type": "string"
                                                            },
                                                            "destination_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "status": {
                                                                "$ref": "#/components/schemas/DeliveryStatus"
                                                            },
                                                            "is_test": {
                                                                "type": "boolean"
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer"
                                                            },
                                                            "last_error": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_response": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_trace_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "next_attempt_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "event_id",
                                                            "destination_id",
                                                            "status",
                                                            "is_test",
                                                            "attempt_count",
                                                            "last_error",
                                                            "platform_response",
                                                            "platform_trace_id",
                                                            "next_attempt_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "explanation": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "explanation"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "event",
                                        "lineage",
                                        "deliveries"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/events": {
            "get": {
                "operationId": "listEvents",
                "description": "Returns retained customer-readable events and aggregate destination-delivery acceptance metrics.",
                "summary": "List recent events",
                "tags": [
                    "Operations"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Events per page, capped at 100.",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page-number-paginated events and delivery acceptance metrics.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "events": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "parent_event_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "event_name": {
                                                                "type": "string"
                                                            },
                                                            "event_time": {
                                                                "type": "string"
                                                            },
                                                            "action_source": {
                                                                "type": "string"
                                                            },
                                                            "event_class": {
                                                                "type": "string"
                                                            },
                                                            "order_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_amount": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_currency": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "consent_basis": {
                                                                "type": "string"
                                                            },
                                                            "measurement_class": {
                                                                "type": "string"
                                                            },
                                                            "attribution_join": {
                                                                "type": "string"
                                                            },
                                                            "enforcement_scope": {
                                                                "type": "string"
                                                            },
                                                            "consent_normalization_version": {
                                                                "type": "string"
                                                            },
                                                            "consent": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "user_data_hashed": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "click_ids": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "session": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "value_data": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "event_source": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "payload_expired": {
                                                                "type": "boolean"
                                                            },
                                                            "deliveries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "signal_tracker_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "event_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "destination_id": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "status": {
                                                                            "$ref": "#/components/schemas/DeliveryStatus"
                                                                        },
                                                                        "is_test": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "attempt_count": {
                                                                            "type": "integer"
                                                                        },
                                                                        "last_error": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "additionalProperties": {}
                                                                                },
                                                                                {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                },
                                                                                {
                                                                                    "type": "null"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "platform_response": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "additionalProperties": {}
                                                                                },
                                                                                {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                },
                                                                                {
                                                                                    "type": "null"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "platform_trace_id": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "next_attempt_at": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "created_at": {
                                                                            "type": "string"
                                                                        },
                                                                        "updated_at": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "signal_tracker_id",
                                                                        "event_id",
                                                                        "destination_id",
                                                                        "status",
                                                                        "is_test",
                                                                        "attempt_count",
                                                                        "last_error",
                                                                        "platform_response",
                                                                        "platform_trace_id",
                                                                        "next_attempt_at",
                                                                        "created_at",
                                                                        "updated_at"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "parent_event_id",
                                                            "event_name",
[...]
