{
    "x-action-types": [
        "increase_budget",
        "decrease_budget",
        "pause",
        "resume",
        "replace_creative",
        "shift_spend",
        "rollback",
        "create_campaign",
        "create_ad_set",
        "create_ad",
        "upload_asset"
    ],
    "openapi": "3.1.0",
    "info": {
        "title": "Plainrouter Conversion API",
        "version": "0.5.0",
        "description": "Plainrouter public Signals Conversion API."
    },
    "servers": [
        {
            "url": "https://plainrouter.com/api/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "workspaceSecret": []
        }
    ],
    "paths": {
        "/agent/workspaces/{workspace}/actions/dry-run": {
            "post": {
                "operationId": "actions.api.dry-run",
                "description": "Preview policy decisions and execution diffs for the approved account without saving a proposal. A kill switch returns blocked policy decisions.",
                "summary": "Preview actions",
                "tags": [
                    "ActionDryRunApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionProposalInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Evaluated dry-run preview.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDryRunRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, revoked or expired credentials return error invalid_token and error_description. Missing principal permissions or an issuer whose current role no longer covers the key return error insufficient_scope and error_description. A management key returns message instead.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "A revoked or insufficient workspace grant returns error insufficient_scope and error_description. Missing creative.write permission returns message without a code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A missing or inaccessible workspace or plan, or a disabled Plan surface, returns error.code api_route_not_found with error.message, error.resolution, request and resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRouteNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input, account selection, evidence, parameters, targets, repeated management targets, missing staged assets or source ads, and invalid budget direction return message plus errors mapping field names to arrays of messages. Stable reason codes are prefixes of field messages, not an error.code property.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Oversized POST data returns message \"The POST data is too large.\" before route authorization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit is exceeded; message is \"Too Many Attempts.\" Retry-After gives seconds until a retry is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected server or provider-read fault returns message \"Server Error\" when debug is disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions": {
            "post": {
                "operationId": "actions.api.propose",
                "description": "Submit or replay a governed proposal for an account available to this key. A kill switch saves a blocked proposal without executing provider writes.",
                "summary": "Propose actions",
                "tags": [
                    "ActionProposalApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionProposalInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved idempotent proposal.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionProposalRead"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "New proposal created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionProposalRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, revoked or expired credentials return error invalid_token and error_description. Missing principal permissions or an issuer whose current role no longer covers the key return error insufficient_scope and error_description. A management key returns message instead.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "A revoked or insufficient workspace grant returns error insufficient_scope and error_description. Missing creative.write permission returns message without a code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A missing or inaccessible workspace or plan, or a disabled Plan surface, returns error.code api_route_not_found with error.message, error.resolution, request and resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRouteNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input, account selection, evidence, parameters, targets, repeated management targets, missing staged assets or source ads, and invalid budget direction return message plus errors mapping field names to arrays of messages. Stable reason codes are prefixes of field messages, not an error.code property.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A replay whose parameters or proposing principal differ returns message and errors.idempotency_key containing idempotency_key_parameters_mismatch: This submission key belongs to a different proposal.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProposalReplayConflict"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Oversized POST data returns message \"The POST data is too large.\" before route authorization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit is exceeded; message is \"Too Many Attempts.\" Retry-After gives seconds until a retry is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The bounded workspace transaction timed out: error.code workspace_lock_timeout and error.message \"The workspace is busy. Retry the operation shortly.\" Retry-After is 1 second.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceLockTimeout"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected server or provider-read fault returns message \"Server Error\" when debug is disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            },
            "get": {
                "operationId": "actions.api.index",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "List actions",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "approved_without_execution",
                                "rejected",
                                "executing",
                                "executed_pending_verification",
                                "compensating",
                                "measuring",
                                "verified",
                                "failed",
                                "execution_uncertain",
                                "rolled_back",
                                "blocked"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionListRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/policy": {
            "get": {
                "operationId": "actions.api.policy",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action policy",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionPolicyRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/{action}/decision-receipt": {
            "get": {
                "operationId": "actions.api.decision-receipt",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get decision receipt",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDecisionReceiptRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found. A visible action without an execution receipt returns error.code receipt_not_available and error.message \"No execution receipt exists for this action because it was not executed.\"",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/{action}": {
            "get": {
                "operationId": "actions.api.show",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDetailRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/action-batches/{actionBatch}": {
            "get": {
                "operationId": "actions.api.batch",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action batch",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "actionBatch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionBatchRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/tests": {
            "get": {
                "operationId": "actions.tests.api.index",
                "description": "Lists scoped Tests, their loser pause candidate status and reasons, and observed conversion event choices with last-30-day recorded counts.",
                "summary": "List Tests and observed conversion event choices",
                "tags": [
                    "AdTestApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tests and observed conversion event choices.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdTestListRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "An active workspace principal is required; credential refusals include an error code and description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The workspace principal lacks a matching plan grant or account binding.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The scoped workspace, account, or Test is unavailable, or the API route is not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiRouteNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed, the event is not in the observed list, or selected ads are not members of the ad set.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit was exceeded; Retry-After gives the seconds until another request is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "testReader": []
                    }
                ]
            },
            "post": {
                "operationId": "actions.tests.api.store",
                "description": "Creates a judging Test with frozen event, settings, axis, and 2 to 4 ads from one mirrored ad set; it creates no proposal or Meta write.",
                "summary": "Create a judging Test",
                "tags": [
                    "AdTestApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "A Test using ads present in the selected mirrored Meta ad set.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "platform_ad_account_id": {
                                        "type": "integer",
                                        "minimum": 1
                                    },
                                    "ad_set_id": {
                                        "type": "string",
                                        "pattern": "^[0-9]+$",
                                        "maxLength": 128
                                    },
                                    "member_ad_ids": {
                                        "type": "array",
                                        "description": "Two to four distinct Meta ad IDs shown in the selected ad set inventory.",
                                        "items": {
                                            "type": "string",
                                            "pattern": "^[0-9]+$",
                                            "maxLength": 128
                                        },
                                        "minItems": 2,
                                        "maxItems": 4,
                                        "uniqueItems": true
                                    },
                                    "axis": {
                                        "type": "string",
                                        "enum": [
                                            "hook",
                                            "angle",
                                            "visual",
                                            "offer",
                                            "format",
                                            "landing"
                                        ]
                                    },
                                    "event_name": {
                                        "type": "string",
                                        "description": "An observed workspace conversion event other than PageView.",
                                        "minLength": 1,
                                        "maxLength": 255
                                    },
                                    "arrivals_floor": {
                                        "type": "integer",
                                        "description": "Optional override; default 50 counted arrivals per member.",
                                        "minimum": 50
                                    },
                                    "minimum_conversions": {
                                        "type": "integer",
                                        "description": "Optional override; default 10 recorded conversions for a winner.",
                                        "minimum": 1
                                    },
                                    "maximum_days": {
                                        "type": "integer",
                                        "description": "Optional override; default 14 complete account-local days.",
                                        "minimum": 3,
                                        "maximum": 30
                                    },
                                    "maximum_spend_minor": {
                                        "description": "Optional stop limit in positive whole Meta minor units, using the same unit scale as Launch plan budget_amount_minor.",
                                        "anyOf": [
                                            {
                                                "type": "string",
                                                "description": "A positive whole number of Meta minor units in the selected account currency, using the same unit scale as Launch plan budget_amount_minor; the string form supports up to 18 digits.",
                                                "pattern": "^[1-9][0-9]{0,17}$"
                                            },
                                            {
                                                "type": "integer",
                                                "description": "A positive whole number of Meta minor units in the selected account currency, using the same unit scale as Launch plan budget_amount_minor.",
                                                "minimum": 1,
                                                "maximum": 9223372036854775807
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "platform_ad_account_id",
                                    "ad_set_id",
                                    "member_ad_ids",
                                    "axis",
                                    "event_name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The frozen judging Test.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdTestCreateRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "An active workspace principal is required; credential refusals include an error code and description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The workspace principal lacks a matching plan grant or account binding.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The scoped workspace, account, or Test is unavailable, or the API route is not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiRouteNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed, the event is not in the observed list, or selected ads are not members of the ad set.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit was exceeded; Retry-After gives the seconds until another request is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "testWriter": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/tests/{ad_test}": {
            "get": {
                "operationId": "actions.tests.api.show",
                "description": "Reads a scoped Test, its stored daily facts and verdict, and loser pause candidate status and reason; recorded counts rank members only within this Test.",
                "summary": "Read a Test, verdict, and pause candidates",
                "tags": [
                    "AdTestApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ad_test",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-7][0-9a-hjkmnp-tv-z]{25}$",
                            "minLength": 26,
                            "maxLength": 26
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Test and its stored verdict facts.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdTestShowRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "An active workspace principal is required; credential refusals include an error code and description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The workspace principal lacks a matching plan grant or account binding.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The scoped workspace, account, or Test is unavailable, or the API route is not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiRouteNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit was exceeded; Retry-After gives the seconds until another request is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "testReader": []
                    }
                ]
            }
        },
        "/cookie-declarations/{publishableKey}": {
            "get": {
                "operationId": "getCookieDeclaration",
                "description": "Public on every plan. Returns latest completed scan metadata, never values. Invalid keys return 404 before the 300/minute per-key limiter.",
                "summary": "Read the public cookie declaration",
                "tags": [
                    "CookieDeclaration"
                ],
                "parameters": [
                    {
                        "name": "publishableKey",
                        "in": "path",
                        "required": true,
                        "description": "Workspace publishable key from the customer page source; pk_live_ followed by 32 alphanumeric characters.",
                        "schema": {
                            "type": "string",
                            "pattern": "^pk_live_[A-Za-z0-9]{32}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Latest completed scan metadata, or empty groups if none has completed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookieDeclaration"
                                }
                            }
                        },
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "*"
                                    ]
                                }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "max-age=60, public"
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown well-formed key returns an empty array. Invalid-format keys return the API route-not-found response before any limiter bucket is created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "maxItems": 0
                                        },
                                        {
                                            "$ref": "#/components/schemas/ApiRouteNotFound"
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "*"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The 300-per-minute allowance for this key is exhausted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "*"
                                    ]
                                }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "const": "no-store, private"
                                }
                            },
                            "Retry-After": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/workspaces/{workspace}/admin/creatives": {
            "post": {
                "operationId": "storeCreative",
                "description": "Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.",
                "summary": "Upload a creative",
                "tags": [
                    "Creative"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "JPEG, PNG, MP4 or QuickTime bytes, at most 4 GiB."
                                    },
                                    "tags": {
                                        "type": "object",
                                        "description": "Optional flat map of at most 32 string tags; reserved keys count toward the cap. For a creative from an outside tool, set generator and generator_job, plus parent_creative for a variation. Values are stored unchanged. PlainRouter’s own creative tools will set these on every creative they make; intake performs no generation, rendering or scoring.",
                                        "properties": {
                                            "generator": {
                                                "type": "string",
                                                "description": "Lowercase slug naming the outside tool that made the creative.",
                                                "pattern": "^[a-z0-9-]{1,64}$",
                                                "minLength": 1,
                                                "maxLength": 64
                                            },
                                            "generator_job": {
                                                "type": "string",
                                                "description": "Printable characters naming the tool’s job or render; control and other non-printable characters are refused.",
                                                "minLength": 1,
                                                "maxLength": 255
                                            },
                                            "parent_creative": {
                                                "type": "string",
                                                "description": "The id returned by the creative APIs: a lowercase ULID of an existing creative in the same workspace that this creative varies.",
                                                "pattern": "^[0-7][0-9a-hjkmnp-tv-z]{25}$"
                                            }
                                        },
                                        "additionalProperties": {
                                            "type": "string",
                                            "maxLength": 255
                                        }
                                    },
                                    "source_ref": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Creative stored, or the existing creative returned for identical bytes in this workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreativeIntakeRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "A valid workspace-bound credential is required.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The credential or workspace grant does not authorize creative intake.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        },
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Creative intake is disabled, or the workspace is missing or inaccessible.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRouteNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "A reserved tag that violates the provenance contract returns error.code creative_provenance_invalid and error.message naming the key. Other intake refusals return their stable error.code and error.message; request-shape errors return message plus field errors.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/CreativeIntakeRejected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ValidationError"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Creative bytes exceed the 4 GiB cap, or POST data exceeds the request limit.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/CreativeIntakeRejected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "creativeWriter": []
                    }
                ]
            }
        },
        "/workspaces/{workspace}/admin/creatives/from-url": {
            "post": {
                "operationId": "storeCreativeFromUrl",
                "description": "Store a creative in the credential-bound workspace. Set generator, generator_job and parent_creative tags for output from an outside tool.",
                "summary": "Store a creative from a URL",
                "tags": [
                    "Creative"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "description": "Vetted HTTPS URL to fetch; private addresses and unsafe redirects are refused.",
                                        "maxLength": 2048
                                    },
                                    "tags": {
                                        "type": "object",
                                        "description": "Optional flat map of at most 32 string tags; reserved keys count toward the cap. For a creative from an outside tool, set generator and generator_job, plus parent_creative for a variation. Values are stored unchanged. PlainRouter’s own creative tools will set these on every creative they make; intake performs no generation, rendering or scoring.",
                                        "properties": {
                                            "generator": {
                                                "type": "string",
                                                "description": "Lowercase slug naming the outside tool that made the creative.",
                                                "pattern": "^[a-z0-9-]{1,64}$",
                                                "minLength": 1,
                                                "maxLength": 64
                                            },
                                            "generator_job": {
                                                "type": "string",
                                                "description": "Printable characters naming the tool’s job or render; control and other non-printable characters are refused.",
                                                "minLength": 1,
                                                "maxLength": 255
                                            },
                                            "parent_creative": {
                                                "type": "string",
                                                "description": "The id returned by the creative APIs: a lowercase ULID of an existing creative in the same workspace that this creative varies.",
                                                "pattern": "^[0-7][0-9a-hjkmnp-tv-z]{25}$"
                                            }
                                        },
                                        "additionalProperties": {
                                            "type": "string",
                                            "maxLength": 255
                                        }
                                    },
                                    "source_ref": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "url"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Creative stored, or the existing creative returned for identical bytes in this workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreativeIntakeRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "A valid workspace-bound credential is required.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The credential or workspace grant does not authorize creative intake.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        },
                                        {
                                            "$ref": "#/components/schemas/AgentCredentialError"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Creative intake is disabled, or the workspace is missing or inaccessible.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRouteNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "A reserved tag that violates the provenance contract returns error.code creative_provenance_invalid and error.message naming the key. Other intake refusals return their stable error.code and error.message; request-shape errors return message plus field errors.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/CreativeIntakeRejected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ValidationError"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Creative bytes exceed the 4 GiB cap, or POST data exceeds the request limit.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/CreativeIntakeRejected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "creativeWriter": []
                    }
                ]
            }
        },
        "/workspaces/{workspace}/admin/plans/{deployment_plan}/copy": {
            "post": {
                "operationId": "launch.plans.copy",
                "description": "Copy failed plan content and stored integer budgets into a fresh draft. History stays unchanged; validate budgets and submit again with a new intent.",
                "summary": "Copy a failed plan to a new draft",
                "tags": [
                    "DeploymentPlan"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "deployment_plan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A new draft was created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, revoked or expired credentials, a missing active principal, missing read scope or lost issuer authority return message. No error code is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Missing workspace, account or write access returns error.code insufficient_scope and error.message. A revoked grant returns message without a code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/PlanCopyForbidden"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessage"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "An inaccessible or missing plan returns error.code plan_not_found and error.message. A missing workspace or disabled Plan surface returns the api_route_not_found envelope with error, request and resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/PlanCopyNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ApiRouteNotFound"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "error.code plan_not_failed when the source is not failed; platform_ad_account_unavailable when its account becomes unavailable after authorization; plan_not_found if the source disappears after lookup. Each includes error.message.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyRejected"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Oversized POST data returns message \"The POST data is too large.\" before route authorization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit is exceeded; message is \"Too Many Attempts.\" Retry-After gives seconds until a retry is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The bounded workspace transaction timed out: error.code workspace_lock_timeout and error.message \"The workspace is busy. Retry the operation shortly.\" Retry-After is 1 second.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceLockTimeout"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected server or provider-read fault returns message \"Server Error\" when debug is disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "planWriter": []
                    }
                ]
            }
        },
        "/workspaces/{workspace}/admin/plans/{deployment_plan}/execute": {
            "post": {
                "operationId": "launch.plans.execute",
                "description": "Create or replay a governed Launch intent using the reviewed plan's review_version. Changed versions are refused before intent creation or staging.",
                "summary": "Execute a deployment plan",
                "tags": [
                    "DeploymentPlan"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "deployment_plan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteDeploymentPlanRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created or replayed Launch intent, including a blocked intent under the kill switch.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LaunchIntentRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, revoked or expired credentials, a missing active principal, missing read scope or lost issuer authority return message. No error code is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Missing workspace, account, write access, execution scope or workspace grant returns message without a code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A missing or inaccessible workspace or plan, or a disabled Plan surface, returns error.code api_route_not_found with error.message, error.resolution, request and resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRouteNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation returns message plus errors (including intent_key and review_version). Domain refusals return error.code and error.message: plan_changed_since_review (\"This plan changed since you reviewed it. Reload and review the latest plan before submitting.\"), deployment_plan_not_executable, creative_not_ready, creative_bytes_unavailable, ad_set_daily_budget_invalid, ad_set_bid_amount_invalid, currency_mismatch, currency_unsupported, budget_invalid, deployment_plan_has_no_actions. Proposal input or evidence validation returns message plus field errors.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ValidationError"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PlanExecuteRejected"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "An intent key bound to another plan returns error.code launch_submission_key_plan_mismatch and error.message.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanExecuteConflict"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Oversized POST data returns message \"The POST data is too large.\" before route authorization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The shared API rate limit is exceeded; message is \"Too Many Attempts.\" Retry-After gives seconds until a retry is allowed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        },
                        "headers": {
                            "Retry-After": {
                                "description": "Seconds until the shared API rate limit allows another request.",
                                "required": true,
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The bounded workspace transaction timed out: error.code workspace_lock_timeout and error.message \"The workspace is busy. Retry the operation shortly.\" Retry-After is 1 second.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceLockTimeout"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected server or provider-read fault returns message \"Server Error\" when debug is disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "planWriter": []
                    }
                ]
            }
        },
        "/workspaces/{workspace}/admin/plans": {
            "get": {
                "operationId": "launch.plans.index",
                "description": "Read plans for the approved ad account with their current review_version. Pass the version from the plan you reviewed when executing.",
                "summary": "List deployment plans",
                "tags": [
                    "DeploymentPlan"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Plans with their current review version.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "plans": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/DeploymentPlanRead"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer"
[...]
