{
    "openapi": "3.1.0",
    "x-signed": true,
    "info": {
        "title": "PlainRouter Conversion API",
        "version": "0.2.0",
        "description": "PlainRouter public Signals Conversion API."
    },
    "servers": [
        {
            "url": "https://plainrouter.com/api/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "signalTrackerSecret": []
        }
    ],
    "paths": {
        "/events": {
            "post": {
                "operationId": "createEvent",
                "tags": [
                    "Event"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "event_id": {
                                        "type": "string",
                                        "description": "Caller-supplied idempotency key; maximum 128 characters."
                                    },
                                    "event_name": {
                                        "type": "string",
                                        "description": "Signal event name; maximum 100 characters."
                                    },
                                    "parent_event_id": {
                                        "type": "string",
                                        "description": "Optional parent event id; maximum 128 characters."
                                    },
                                    "event_time": {
                                        "description": "Unix timestamp or ISO-8601 date-time. Defaults to receipt time.",
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "event_source": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Optional absolute source URL."
                                    },
                                    "action_source": {
                                        "type": "string",
                                        "description": "Optional action source; defaults to website and is limited to 50 characters."
                                    },
                                    "visitor_id": {
                                        "type": "string",
                                        "description": "Optional visitor identifier; maximum 255 characters."
                                    },
                                    "consent": {
                                        "type": "object",
                                        "description": "Consent state supplied with the event.",
                                        "additionalProperties": {}
                                    },
                                    "user_data": {
                                        "type": "object",
                                        "description": "Identity fields accepted by the tracker.",
                                        "additionalProperties": {}
                                    },
                                    "click_ids": {
                                        "type": "object",
                                        "description": "Advertising click identifiers.",
                                        "additionalProperties": {}
                                    },
                                    "value_data": {
                                        "type": "object",
                                        "description": "Optional commerce data. Contents accepts at most 50 items and 16 KB serialized.",
                                        "properties": {
                                            "value": {
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "order_id": {
                                                "type": "string"
                                            },
                                            "contents": {
                                                "type": "array",
                                                "items": {}
                                            },
                                            "num_items": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "event_name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Duplicate event accepted idempotently.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "New event accepted for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event}": {
            "get": {
                "operationId": "getEvent",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event, lineage, and destination delivery state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "signal_tracker_id": {
                                                    "type": "string"
                                                },
                                                "parent_event_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "event_name": {
                                                    "type": "string"
                                                },
                                                "event_time": {
                                                    "type": "string"
                                                },
                                                "action_source": {
                                                    "type": "string"
                                                },
                                                "event_class": {
                                                    "type": "string"
                                                },
                                                "order_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "value_amount": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "value_currency": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "consent": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "user_data_hashed": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "click_ids": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "session": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "value_data": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "event_source": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "payload_expired": {
                                                    "type": "boolean"
                                                },
                                                "deliveries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "event_id": {
                                                                "type": "string"
                                                            },
                                                            "destination_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "status": {
                                                                "$ref": "#/components/schemas/DeliveryStatus"
                                                            },
                                                            "is_test": {
                                                                "type": "boolean"
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer"
                                                            },
                                                            "last_error": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_response": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_trace_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "next_attempt_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "event_id",
                                                            "destination_id",
                                                            "status",
                                                            "is_test",
                                                            "attempt_count",
                                                            "last_error",
                                                            "platform_response",
                                                            "platform_trace_id",
                                                            "next_attempt_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "signal_tracker_id",
                                                "parent_event_id",
                                                "event_name",
                                                "event_time",
                                                "action_source",
                                                "event_class",
                                                "order_id",
                                                "value_amount",
                                                "value_currency",
                                                "created_at",
                                                "consent",
                                                "user_data_hashed",
                                                "click_ids",
                                                "session",
                                                "value_data",
                                                "event_source",
                                                "payload_expired",
                                                "deliveries"
                                            ]
                                        },
                                        "lineage": {
                                            "type": "object",
                                            "properties": {
                                                "parent": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "signal_tracker_id": {
                                                            "type": "string"
                                                        },
                                                        "parent_event_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "event_name": {
                                                            "type": "string"
                                                        },
                                                        "event_time": {
                                                            "type": "string"
                                                        },
                                                        "action_source": {
                                                            "type": "string"
                                                        },
                                                        "event_class": {
                                                            "type": "string"
                                                        },
                                                        "order_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_amount": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_currency": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string"
                                                        },
                                                        "consent": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "user_data_hashed": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "click_ids": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "session": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "value_data": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "event_source": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "payload_expired": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "signal_tracker_id",
                                                        "parent_event_id",
                                                        "event_name",
                                                        "event_time",
                                                        "action_source",
                                                        "event_class",
                                                        "order_id",
                                                        "value_amount",
                                                        "value_currency",
                                                        "created_at",
                                                        "consent",
                                                        "user_data_hashed",
                                                        "click_ids",
                                                        "session",
                                                        "value_data",
                                                        "event_source",
                                                        "payload_expired"
                                                    ]
                                                },
                                                "children": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "parent_event_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "event_name": {
                                                                "type": "string"
                                                            },
                                                            "event_time": {
                                                                "type": "string"
                                                            },
                                                            "action_source": {
                                                                "type": "string"
                                                            },
                                                            "event_class": {
                                                                "type": "string"
                                                            },
                                                            "order_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_amount": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_currency": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "consent": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "user_data_hashed": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "click_ids": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "session": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "value_data": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "event_source": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "payload_expired": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "parent_event_id",
                                                            "event_name",
                                                            "event_time",
                                                            "action_source",
                                                            "event_class",
                                                            "order_id",
                                                            "value_amount",
                                                            "value_currency",
                                                            "created_at",
                                                            "consent",
                                                            "user_data_hashed",
                                                            "click_ids",
                                                            "session",
                                                            "value_data",
                                                            "event_source",
                                                            "payload_expired"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "parent",
                                                "children"
                                            ]
                                        },
                                        "deliveries": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "event_id": {
                                                                "type": "string"
                                                            },
                                                            "destination_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "status": {
                                                                "$ref": "#/components/schemas/DeliveryStatus"
                                                            },
                                                            "is_test": {
                                                                "type": "boolean"
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer"
                                                            },
                                                            "last_error": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_response": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_trace_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "next_attempt_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "event_id",
                                                            "destination_id",
                                                            "status",
                                                            "is_test",
                                                            "attempt_count",
                                                            "last_error",
                                                            "platform_response",
                                                            "platform_trace_id",
                                                            "next_attempt_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "explanation": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "explanation"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "event",
                                        "lineage",
                                        "deliveries"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/events": {
            "get": {
                "operationId": "listEvents",
                "tags": [
                    "Operations"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Events per page, capped at 100.",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated events and delivery acceptance metrics.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "events": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string"
                                                            },
                                                            "parent_event_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "event_name": {
                                                                "type": "string"
                                                            },
                                                            "event_time": {
                                                                "type": "string"
                                                            },
                                                            "action_source": {
                                                                "type": "string"
                                                            },
                                                            "event_class": {
                                                                "type": "string"
                                                            },
                                                            "order_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_amount": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_currency": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "consent": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "user_data_hashed": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "click_ids": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "session": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "value_data": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "event_source": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "payload_expired": {
                                                                "type": "boolean"
                                                            },
                                                            "deliveries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "signal_tracker_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "event_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "destination_id": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "status": {
                                                                            "$ref": "#/components/schemas/DeliveryStatus"
                                                                        },
                                                                        "is_test": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "attempt_count": {
                                                                            "type": "integer"
                                                                        },
                                                                        "last_error": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "additionalProperties": {}
                                                                                },
                                                                                {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                },
                                                                                {
                                                                                    "type": "null"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "platform_response": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "additionalProperties": {}
                                                                                },
                                                                                {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                },
                                                                                {
                                                                                    "type": "null"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "platform_trace_id": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "next_attempt_at": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "created_at": {
                                                                            "type": "string"
                                                                        },
                                                                        "updated_at": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "signal_tracker_id",
                                                                        "event_id",
                                                                        "destination_id",
                                                                        "status",
                                                                        "is_test",
                                                                        "attempt_count",
                                                                        "last_error",
                                                                        "platform_response",
                                                                        "platform_trace_id",
                                                                        "next_attempt_at",
                                                                        "created_at",
                                                                        "updated_at"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "signal_tracker_id",
                                                            "parent_event_id",
                                                            "event_name",
                                                            "event_time",
                                                            "action_source",
                                                            "event_class",
                                                            "order_id",
                                                            "value_amount",
                                                            "value_currency",
                                                            "created_at",
                                                            "consent",
                                                            "user_data_hashed",
                                                            "click_ids",
                                                            "session",
                                                            "value_data",
                                                            "event_source",
                                                            "payload_expired",
                                                            "deliveries"
                                                        ]
                                                    }
                                                },
                                                "first_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "last_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "next_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "prev_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "data",
                                                "first_page_url",
                                                "from",
                                                "last_page",
                                                "last_page_url",
                                                "links",
                                                "next_page_url",
                                                "path",
                                                "per_page",
                                                "prev_page_url",
                                                "to",
                                                "total"
                                            ]
                                        },
                                        "metrics": {
                                            "type": "object",
                                            "properties": {
                                                "accepted": {
                                                    "type": "integer"
                                                },
                                                "total_deliveries": {
                                                    "type": "integer"
                                                },
                                                "acceptance_rate": {
                                                    "type": [
                                                        "number",
                                                        "null"
                                                    ]
                                                },
                                                "acceptance_rate_window": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "accepted",
                                                "total_deliveries",
                                                "acceptance_rate",
                                                "acceptance_rate_window"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "events",
                                        "metrics"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/destinations/{destination}/test-mode": {
            "patch": {
                "operationId": "setDestinationTestMode",
                "tags": [
                    "Operations"
                ],
                "parameters": [
                    {
                        "name": "destination",
                        "in": "path",
                        "required": true,
                        "description": "The destination ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "test_event_code": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 100
                                    }
                                },
                                "required": [
                                    "enabled"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated destination and its effective test-mode state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "destination": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "signal_tracker_id": {
                                                    "type": "string"
                                                },
                                                "platform_ad_account_id": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "type": {
                                                    "$ref": "#/components/schemas/DestinationType"
                                                },
                                                "credential_source": {
                                                    "$ref": "#/components/schemas/DestinationCredentialSource"
                                                },
                                                "config": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "status": {
                                                    "$ref": "#/components/schemas/DestinationStatus"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "signal_tracker_id",
                                                "platform_ad_account_id",
                                                "type",
                                                "credential_source",
                                                "config",
                                                "status",
                                                "created_at",
                                                "updated_at"
                                            ]
                                        },
                                        "test_mode": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "destination",
                                        "test_mode"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Signal tracker secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/destinations/{destination}/test-purchase": {
            "post": {
                "operationId": "sendTestPurchase",
                "tags": [
                    "Operations"
                ],
                "parameters": [
                    {
                        "name": "destination",
                        "in": "path",
                        "required": true,
                        "description": "The destination ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "value": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "pattern": "^-?\\d+(?:\\.\\d+)?$"
                                    },
                                    "currency": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "minLength": 3,
                                        "maxLength": 3
                                    },
                                    "order_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 128
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Meta accepted the test purchase.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "$ref": "#/components/schemas/DeliveryStatus"
                                        },
                                        "trace_id": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "status",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "502": {
[...]
