{
    "x-signed": true,
    "x-action-types": [
        "increase_budget",
        "decrease_budget",
        "pause",
        "resume",
        "replace_creative",
        "shift_spend",
        "rollback",
        "create_campaign",
        "create_ad_set",
        "create_ad",
        "upload_asset"
    ],
    "openapi": "3.1.0",
    "info": {
        "title": "Plainrouter Conversion API",
        "version": "0.5.0",
        "description": "Plainrouter public Signals Conversion API."
    },
    "servers": [
        {
            "url": "https://plainrouter.com/api/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "workspaceSecret": []
        }
    ],
    "paths": {
        "/agent/workspaces/{workspace}/actions/dry-run": {
            "post": {
                "operationId": "actions.api.dry-run",
                "description": "Evaluate a governed proposal for the approved account and preview each policy decision and execution diff without creating a batch or action.",
                "summary": "Preview actions",
                "tags": [
                    "ActionDryRunApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionProposalInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Evaluated dry-run preview.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDryRunRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions": {
            "post": {
                "operationId": "actions.api.propose",
                "description": "Submit a governed proposal for an advertising account available to this workspace key. A matching idempotency key returns the saved batch.",
                "summary": "Propose actions",
                "tags": [
                    "ActionProposalApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionProposalInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved idempotent proposal.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionProposalRead"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "New proposal created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionProposalRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            },
            "get": {
                "operationId": "actions.api.index",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "List actions",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "approved_without_execution",
                                "rejected",
                                "executing",
                                "executed_pending_verification",
                                "compensating",
                                "measuring",
                                "verified",
                                "failed",
                                "execution_uncertain",
                                "rolled_back",
                                "blocked"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionListRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/policy": {
            "get": {
                "operationId": "actions.api.policy",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action policy",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionPolicyRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/{action}/decision-receipt": {
            "get": {
                "operationId": "actions.api.decision-receipt",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get decision receipt",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDecisionReceiptRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found. A visible action without an execution receipt returns error.code receipt_not_available and error.message \"No execution receipt exists for this action because it was not executed.\"",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/actions/{action}": {
            "get": {
                "operationId": "actions.api.show",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionDetailRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/agent/workspaces/{workspace}/action-batches/{actionBatch}": {
            "get": {
                "operationId": "actions.api.batch",
                "description": "Read persisted Actions data for an account available to this workspace key. An unbound key selects account_id; a bound key stays limited to its own account.",
                "summary": "Get action batch",
                "tags": [
                    "ActionReadApi"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "actionBatch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Optional positive account ID. A bound key may name only its own account; any other value returns 422. An unbound key may name only an active account with an active connection in its workspace, and must name one when the workspace has more than one.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorized Actions resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionBatchRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing, invalid, or expired workspace key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The key lacks the propose-actions grant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace, account, or Actions resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "workspaceActionKey": []
                    }
                ]
            }
        },
        "/workspaces/{workspace}/admin/plans/{deployment_plan}/copy": {
            "post": {
                "operationId": "launch.plans.copy",
                "description": "Copy failed plan content and stored integer budgets into a fresh draft. History stays unchanged; validate budgets and submit again with a new intent.",
                "summary": "Copy a failed plan to a new draft",
                "tags": [
                    "DeploymentPlan"
                ],
                "parameters": [
                    {
                        "name": "workspace",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "deployment_plan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A new draft was created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyRead"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "An active principal is required.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The principal lacks workspace, account or write access.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The plan is unavailable to this workspace and account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Only a failed plan can be copied (plan_not_failed), or its account is unavailable (platform_ad_account_unavailable).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanCopyError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "planWriter": []
                    }
                ]
            }
        },
        "/events": {
            "post": {
                "operationId": "createEvent",
                "description": "Accepts a consent-aware server-side conversion event and uses event_id or Idempotency-Key to make retries idempotent.",
                "summary": "Submit a conversion event",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Optional idempotency key. When event_id is omitted, Plainrouter uses this value as event_id. If both are supplied, they must match.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Authenticated callers using the Server secret may supply client_ip_address and client_user_agent in user_data; browser traffic using the Publishable key takes those fields only from the configured edge.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "event_id": {
                                                "type": "string",
                                                "description": "Caller-supplied idempotency key; maximum 128 characters."
                                            },
                                            "event_name": {
                                                "type": "string",
                                                "description": "Signal event name; maximum 100 characters."
                                            },
                                            "parent_event_id": {
                                                "type": "string",
                                                "description": "Optional parent event id; maximum 128 characters."
                                            },
                                            "event_time": {
                                                "description": "Unix timestamp or ISO-8601 date-time. Defaults to receipt time.",
                                                "anyOf": [
                                                    {
                                                        "type": "integer"
                                                    },
                                                    {
                                                        "type": "string"
                                                    }
                                                ]
                                            },
                                            "event_source": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Optional absolute source URL."
                                            },
                                            "action_source": {
                                                "type": "string",
                                                "description": "Optional action source; defaults to website and is limited to 50 characters."
                                            },
                                            "visitor_id": {
                                                "type": "string",
                                                "description": "Optional visitor identifier; maximum 255 characters."
                                            },
                                            "consent_basis": {
                                                "type": "string",
                                                "description": "Legal basis for processing. Legitimate-interest revenue lifecycle events are rejected; use an authenticated server adapter.",
                                                "const": "consent"
                                            },
                                            "consent": {
                                                "type": "object",
                                                "description": "Consent state supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "consent_mode": {
                                                "type": "object",
                                                "description": "Consent Mode v2 signal values supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "tcf": {
                                                "type": "object",
                                                "description": "TCF v2 data containing string and optional captured_at.",
                                                "additionalProperties": {}
                                            },
                                            "user_data": {
                                                "type": "object",
                                                "description": "Identity fields accepted by the tracker.",
                                                "additionalProperties": {}
                                            },
                                            "click_ids": {
                                                "type": "object",
                                                "description": "Advertising click identifiers.",
                                                "additionalProperties": {}
                                            },
                                            "value_data": {
                                                "type": "object",
                                                "description": "Optional commerce data. Contents accepts at most 50 items and 16 KB serialized.",
                                                "properties": {
                                                    "value": {
                                                        "type": "string"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "order_id": {
                                                        "type": "string"
                                                    },
                                                    "contents": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "num_items": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "event_name",
                                            "consent_basis"
                                        ]
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "event_id": {
                                                "type": "string",
                                                "description": "Caller-supplied idempotency key; maximum 128 characters."
                                            },
                                            "event_name": {
                                                "type": "string",
                                                "description": "Signal event name; maximum 100 characters.",
                                                "enum": [
                                                    "signal_verification",
                                                    "consent_withdrawal"
                                                ]
                                            },
                                            "parent_event_id": {
                                                "type": "string",
                                                "description": "Optional parent event id; maximum 128 characters."
                                            },
                                            "event_time": {
                                                "description": "Unix timestamp or ISO-8601 date-time. Defaults to receipt time.",
                                                "anyOf": [
                                                    {
                                                        "type": "integer"
                                                    },
                                                    {
                                                        "type": "string"
                                                    }
                                                ]
                                            },
                                            "event_source": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Optional absolute source URL."
                                            },
                                            "action_source": {
                                                "type": "string",
                                                "description": "Optional action source; defaults to website and is limited to 50 characters."
                                            },
                                            "visitor_id": {
                                                "type": "string",
                                                "description": "Optional visitor identifier; maximum 255 characters."
                                            },
                                            "consent_basis": {
                                                "type": "string",
                                                "description": "Legal basis for processing. Legitimate-interest revenue lifecycle events are rejected; use an authenticated server adapter.",
                                                "const": "legitimate_interest"
                                            },
                                            "consent": {
                                                "type": "object",
                                                "description": "Consent state supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "consent_mode": {
                                                "type": "object",
                                                "description": "Consent Mode v2 signal values supplied with the event.",
                                                "additionalProperties": {}
                                            },
                                            "tcf": {
                                                "type": "object",
                                                "description": "TCF v2 data containing string and optional captured_at.",
                                                "additionalProperties": {}
                                            },
                                            "user_data": {
                                                "type": "object",
                                                "description": "Identity fields accepted by the tracker.",
                                                "additionalProperties": {}
                                            },
                                            "click_ids": {
                                                "type": "object",
                                                "description": "Advertising click identifiers.",
                                                "additionalProperties": {}
                                            },
                                            "value_data": {
                                                "type": "object",
                                                "description": "Optional commerce data. Contents accepts at most 50 items and 16 KB serialized.",
                                                "properties": {
                                                    "value": {
                                                        "type": "string"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "order_id": {
                                                        "type": "string"
                                                    },
                                                    "contents": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "num_items": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "event_name",
                                            "consent_basis"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Duplicate event accepted idempotently.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical event resource to poll for delivery state.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            },
                            "Idempotency-Key": {
                                "description": "Echoes the Idempotency-Key supplied by the caller.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "New event accepted for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        },
                                        "warnings": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "$ref": "#/components/schemas/IngestionWarningCode"
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "const": "consent.captured_at"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "field",
                                                    "message"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate",
                                        "warnings"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical event resource to poll for delivery state.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            },
                            "Idempotency-Key": {
                                "description": "Echoes the Idempotency-Key supplied by the caller.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Server secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verification-events": {
            "post": {
                "operationId": "verifySignalIngestion",
                "description": "Records one idempotent, identity-free modeled event to confirm workspace-scoped ingestion. It does not count as real arrival evidence or complete onboarding.",
                "summary": "Verify server-side Signal ingestion",
                "tags": [
                    "Event"
                ],
                "responses": {
                    "200": {
                        "description": "The idempotent server verification event already exists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical verification-event resource to poll.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Server-side Signal ingestion verified.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event_id": {
                                            "type": "string"
                                        },
                                        "duplicate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "event_id",
                                        "duplicate"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "Canonical verification-event resource to poll.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing Server secret.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event}": {
            "get": {
                "operationId": "getEvent",
                "description": "Returns one retained customer-readable event with lineage and destination delivery state for scoped troubleshooting and acceptance checks.",
                "summary": "Get an event and delivery trace",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event, lineage, and destination delivery state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "event": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "workspace_id": {
                                                    "type": "integer"
                                                },
                                                "signal_tracker_id": {
                                                    "type": "string",
                                                    "description": "Deprecated alias of workspace_id; contains the workspace ID in decimal string form.",
                                                    "deprecated": true
                                                },
                                                "parent_event_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "event_name": {
                                                    "type": "string"
                                                },
                                                "event_time": {
                                                    "type": "string"
                                                },
                                                "action_source": {
                                                    "type": "string"
                                                },
                                                "event_class": {
                                                    "type": "string"
                                                },
                                                "order_id": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "value_amount": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "value_currency": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "consent_basis": {
                                                    "type": "string"
                                                },
                                                "measurement_class": {
                                                    "type": "string"
                                                },
                                                "attribution_join": {
                                                    "type": "string"
                                                },
                                                "enforcement_scope": {
                                                    "type": "string"
                                                },
                                                "consent_normalization_version": {
                                                    "type": "string"
                                                },
                                                "consent": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "user_data_hashed": {
                                                    "description": "Deprecated compatibility field. The value is always null; delivery identity is never returned.",
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "click_ids": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "session": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "value_data": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "additionalProperties": {}
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "event_source": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "payload_expired": {
                                                    "type": "boolean"
                                                },
                                                "deliveries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "workspace_id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string",
                                                                "description": "Deprecated alias of workspace_id; contains the workspace ID in decimal string form.",
                                                                "deprecated": true
                                                            },
                                                            "event_id": {
                                                                "type": "string"
                                                            },
                                                            "destination_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "status": {
                                                                "$ref": "#/components/schemas/DeliveryStatus"
                                                            },
                                                            "is_test": {
                                                                "type": "boolean"
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer"
                                                            },
                                                            "last_error": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_response": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "platform_trace_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "next_attempt_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "workspace_id",
                                                            "signal_tracker_id",
                                                            "event_id",
                                                            "destination_id",
                                                            "status",
                                                            "is_test",
                                                            "attempt_count",
                                                            "last_error",
                                                            "platform_response",
                                                            "platform_trace_id",
                                                            "next_attempt_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "workspace_id",
                                                "signal_tracker_id",
                                                "parent_event_id",
                                                "event_name",
                                                "event_time",
                                                "action_source",
                                                "event_class",
                                                "order_id",
                                                "value_amount",
                                                "value_currency",
                                                "created_at",
                                                "consent_basis",
                                                "measurement_class",
                                                "attribution_join",
                                                "enforcement_scope",
                                                "consent_normalization_version",
                                                "consent",
                                                "user_data_hashed",
                                                "click_ids",
                                                "session",
                                                "value_data",
                                                "event_source",
                                                "payload_expired",
                                                "deliveries"
                                            ]
                                        },
                                        "lineage": {
                                            "type": "object",
                                            "properties": {
                                                "parent": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "workspace_id": {
                                                            "type": "integer"
                                                        },
                                                        "signal_tracker_id": {
                                                            "type": "string",
                                                            "description": "Deprecated alias of workspace_id; contains the workspace ID in decimal string form.",
                                                            "deprecated": true
                                                        },
                                                        "parent_event_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "event_name": {
                                                            "type": "string"
                                                        },
                                                        "event_time": {
                                                            "type": "string"
                                                        },
                                                        "action_source": {
                                                            "type": "string"
                                                        },
                                                        "event_class": {
                                                            "type": "string"
                                                        },
                                                        "order_id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_amount": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "value_currency": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string"
                                                        },
                                                        "consent_basis": {
                                                            "type": "string"
                                                        },
                                                        "measurement_class": {
                                                            "type": "string"
                                                        },
                                                        "attribution_join": {
                                                            "type": "string"
                                                        },
                                                        "enforcement_scope": {
                                                            "type": "string"
                                                        },
                                                        "consent_normalization_version": {
                                                            "type": "string"
                                                        },
                                                        "consent": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "user_data_hashed": {
                                                            "description": "Deprecated compatibility field. The value is always null; delivery identity is never returned.",
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "click_ids": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "session": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "value_data": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "event_source": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "payload_expired": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "workspace_id",
                                                        "signal_tracker_id",
                                                        "parent_event_id",
                                                        "event_name",
                                                        "event_time",
                                                        "action_source",
                                                        "event_class",
                                                        "order_id",
                                                        "value_amount",
                                                        "value_currency",
                                                        "created_at",
                                                        "consent_basis",
                                                        "measurement_class",
                                                        "attribution_join",
                                                        "enforcement_scope",
                                                        "consent_normalization_version",
                                                        "consent",
                                                        "user_data_hashed",
                                                        "click_ids",
                                                        "session",
                                                        "value_data",
                                                        "event_source",
                                                        "payload_expired"
                                                    ]
                                                },
                                                "children": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "workspace_id": {
                                                                "type": "integer"
                                                            },
                                                            "signal_tracker_id": {
                                                                "type": "string",
                                                                "description": "Deprecated alias of workspace_id; contains the workspace ID in decimal string form.",
                                                                "deprecated": true
                                                            },
                                                            "parent_event_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "event_name": {
                                                                "type": "string"
                                                            },
                                                            "event_time": {
                                                                "type": "string"
                                                            },
                                                            "action_source": {
                                                                "type": "string"
                                                            },
                                                            "event_class": {
                                                                "type": "string"
                                                            },
                                                            "order_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_amount": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "value_currency": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "consent_basis": {
                                                                "type": "string"
                                                            },
                                                            "measurement_class": {
                                                                "type": "string"
                                                            },
                                                            "attribution_join": {
                                                                "type": "string"
                                                            },
                                                            "enforcement_scope": {
                                                                "type": "string"
                                                            },
                                                            "consent_normalization_version": {
                                                                "type": "string"
                                                            },
                                                            "consent": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "user_data_hashed": {
                                                                "description": "Deprecated compatibility field. The value is always null; delivery identity is never returned.",
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "click_ids": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "additionalProperties": {}
                                                                    },
[...]
